body{
    font-family: 'Fira Sans', sans-serif;
}
ul{ 
    line-height: 40px;
    list-style: none;
    padding: 30px;
    width: 300px;
    margin: 0;
    padding: 0;
}

li {
    background-color :#ECEFF1  ;
    font-size:20px;
}

a{
    display: block;
    text-decoration: none;
    padding-left: 15px;
    color:#000;
}

a:hover{
    background-color: #CFD8DC;
}

a:active{
    background-color:#6D4C41;
    color:#F5F5F5; 

}

ul li:first-child{
    
    background-color: #FFD54F;
    
}

ul li:first-child:hover{
    background-color:#CFD8DC;
    color:#fff;
}


